## Programa de ejemplo

### Problema:
Escriba un programa que reciba una temperatura en grados
Fahrenheit y entregue como resultado el equivalente en grados
Celsius.

### Caso de prueba
Temp. en Fahrenheit: 95
El equivalente en Celsius es: 35.0

In [3]:
"Temp. en Fahrenheit: 95"
"El equivalente en Celsius es: 35.0"

'El equivalente en Celsius es: 35.0'

## Tipos de datos
* Entero: *int* (del ingles integer).

In [4]:
2345
0
-42

-42

## Tipos de datos
* Real (también llamado flotante): *float* (del inglés float).

In [5]:
231.45
6.02e23

6.02e+23

## Tipos de datos
* Lógico (también llamado booleano): *bool* (del inglés boolean).

In [6]:
True
False

False

## Tipos de datos
* Texto (también llamado cadena de texto): *str* (del inglés string).

In [8]:
"Hola que hace"
'Hola mundo'
'''Hmm'''
"""Hey Jude"""

'Hey Jude'

## Expresiones

Combinación de valores y operaciones que al ser evaluados entregan un resultado

In [10]:
2 * 3 + 4

10

In [11]:
'hola' + ' mundo'

'hola mundo'

In [ ]:
x = 3.5

In [ ]:
5 + x ** 2

In [ ]:
abs(x - 10)

## Operadores aritméticos

 * Suma : +
 * Resta : -
 * Multiplicación : *
 * División : /

## Operadores aritméticos (2)
 * módulo, resto o residuo: : % 
 * Potenciación: **

In [15]:
# Módulo entre 12 y 7
12 % 7

5

In [16]:
# once al cuadrado
11 ** 2

121

In [18]:
# Raíz de 4

## Operadores lógicos
* o : or
* y : and
* no : not

In [19]:
not True

False

In [20]:
True and True

True

In [21]:
True or True

True

In [22]:
x = 2
(-1<x) or (x<1)

True

## Operadores de texto
 * Suma de strings
 * Multiplicación de strings
 * largo de un string
 * Letras en un string
 * contención

In [23]:
# Suma de strings
'agua'+'fiestas'

'aguafiestas'

In [24]:
'waka'*2

'wakawaka'

In [25]:
len('paralelepipedo')

14

In [27]:
'Chile'[1]

'h'

In [29]:
'pollo' in 'repollo'

True

## Funciones

In [ ]:
# Valor absoluto, para int o float
abs(4-5)

In [30]:
# Largo de un string
len('otro ejemplo cualquiera')

23

In [31]:
# Mínimo, máximo,
min(3.14, 2.71)
max(3.14, 2.71)

3.14

In [32]:
# Redondear
round(54.5)

54

In [34]:
# Imprimir en pantalla
print("Hello!")

Hello!

In [38]:
# Tipo de dato
type('hey')

str

## Entrada de datos

Para la entrada de datos, en python 2.7 se utiliza **raw_input**

In [ ]:
nombre = raw_input('Ingrese su nombre: ')

In [ ]:
edad = raw_input('Ingrese su edad: ')

In [ ]:
est = float(raw_input('Ingrese estatura: '))

In [39]:
print(nombre)
print(edad+1)

NameError: name 'nombre' is not defined

## Salida de datos

In [40]:
print('Hola mundo')
print('Hola', 'mundo' )
nombre = 'Perico'
print('Hola', nombre )
n = 3.3
print('El cuadrado de', n, 'es', n ** 2)

Hola mundo
Hola mundo
Hola Perico
El cuadrado de 3.3 es 10.889999999999999

## Problema de prueba


### Problema:
Escriba un programa que reciba una temperatura en grados
Fahrenheit y entregue como resultado el equivalente en grados
Celsius.

### Caso de prueba
 * Temp. en Fahrenheit: 95
 * El equivalente en Celsius es: 35.0

## Análisis del caso de prueba

* Dato de entrada o Input: 95 (int o float)
* Dato de salida o Output: String con el resultado de la conversión del input

## Análisis del caso de prueba

* Dato de entrada o Input: 95 (int o float)
* Dato de salida o Output: String con el resultado de la conversión del input

## Análisis del caso general

* Dato de entrada o Input: T_F (float)
* Conversión a Celsius: T_C = (T_F -32) * (5.0 / 9.0)
* Dato de salida o Output: String con el resultado de la conversión del input

In [43]:
f = float(raw_input('Temp. en Fahrenheit:'))
c = (f - 32.0) * (5.0 / 9.0)
print('El equivalente en Celsius es:', c)

NameError: name 'raw_input' is not defined